<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Hello, <%= @reservation.restaurant.name %></h1>
      
      <p>
         Reservation details: 
         <%= @user.name %>.<br>
         <%= @reservation.time %>.<br>
         <%= @reservation.guest_count %>.<br>
      </p>
      
      <p>Thanks and have a great day!</p>
      
   </body>
</html>